/* header */
header {
    background-color: rgb(22, 22, 63);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}
h1 span {
    color: orange;
    letter-spacing: 5px;
}

h1 {
    letter-spacing: 1px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}

nav {
    display: flex;
    text-align: right;
}
nav a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
}

#home, #about {
    background-color: rgb(94, 94, 172);
    border: solid rgb(94, 94, 172) 5px;
    border-radius: 5px;
    padding:5px 10px;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

/* footer */
footer {
    background-color: rgb(22, 22, 63);
    color: rgb(195, 195, 215);
    padding-bottom: 20px;
    padding-top: 15px;
}

footer h4 {
    color: white;
    margin-bottom: 6px;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer hr {
    width: 95%;
    border-color: rgb(42, 42, 54);
    margin-top: 28px;
    margin-bottom: 20px;
}

small {
    color: rgb(77, 77, 99);
    padding-left: 40px;
}

footer a {
    color: rgb(195, 195, 215);
    margin-left: -20px
}

footer ul {
    list-style: none;
    text-align: left;
    width: 50%;
}

footer li {
    padding-bottom: 15px;
}

/*index.html*/
#hero {
    background-color: rgb(94, 94, 172);
    padding-top: 40px;
    padding-left: 280px;
    padding-bottom: 90px;
    color: white;

}
#hero h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 0px;
}

#hero div {
    display: flex;
    justify-content: space-between;
    overflow-x: clip;
    position: relative;
}

#hero p {
    color: white;
    padding-bottom: 30px;
}

#hero a {
    padding: 12px 20px 13px;
    background-color: orange;
    border: solid orange 3px;
    border-radius: 3px;
    color: rgb(94, 94, 172);
    text-decoration: none;
}

#hero a:hover {
    background-color: rgb(184, 119, 0);
    color: rgb(22, 22, 63);
    border-color: rgb(184, 119, 0);
}

#home-brackets {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 300px;
    opacity: 10%;
    margin-top: -95px;
    margin-left: 490px;
    letter-spacing: 1em;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
}

#featured-products {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(190, 190, 190);
    padding-top: 12px;
    padding-bottom: 60px;
    border: solid white 1.5px;
    border-bottom: solid gray 1.5px;
}

#featured-products h3 {
    padding-left: 35px;
}

#featured-products .box {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 55px;
    
}

#featured-products .box p {
    padding-left: 20px;
    padding-right: 20px;
}

#featured-products .box li {
    background-color: white;
    width: 20%;
    height: 465px;
    padding: 0px;   
    border: solid gray 2px;
    border-radius: 6px; 
    text-align: left; 
}

#featured-products .box li:hover {
    border: solid black 2px;
}

#featured-products .box img {
    max-width: 100%;
    display: block;
    margin: auto;
}

#featured-products .box .image-wrap {
    background-color: rgb(190, 190, 190);
    padding: 50px 26px ;
}

#featured-products .box a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border: solid black 2px;
    border-radius: 3px;
    color: black;
    padding: 10px;
}

#featured-products .box a:hover {
    color: white;
    background-color: black;
}

#featured-products .price {
    color: rgb(77, 77, 77);
}

#featured-products .coloured-bar {
    background-color: green;
    height: 3px;
    margin-bottom: 0;
    max-width: 100%;
    padding-top: 0;
}

#featured-products .box li:hover .coloured-bar {
    background-color: orange;
}

#home-about {
    padding-left: 35px;
    padding-bottom: 20px;
    margin-right: 500px;
    margin-top: 30px;
}

#home-about h3, #featured-products h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

#home-about p {
    color: rgb(77, 77, 77);
}

/*about.html*/
#about-a1 {
    padding-top: 35px;
    background-color: red;
    padding-bottom: 45px;
    color: white;
    padding-left: 405px;
}

#about-a1 h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 0;
}

#about-brackets {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 230px;
    opacity: 10%;
    letter-spacing: 1em;
    margin-top: -90px;
    margin-left: 485px;
    pointer-events: none;
    position: absolute;
    color: blue;
}

#about-a1 div {
    display: flex;
    justify-content: space-between;
    overflow-x: clip;
    position: relative;
}

#our-story  {
    display: flex;
    justify-content:space-between;
    padding-bottom: 100px;
    background-color: aqua;
    padding: 20px 40px;
    border: solid white 1.5px;
    border-bottom: solid gray 1.5px;
}

#our-story h3, #team h3, #contact h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-right: 50px;
    white-space: nowrap;
}

#our-story span {
    padding-top: 25px;
    padding-left: 100px;
}

#our-values {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 35px;
}

#our-values h4, #our-journey h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 30px;
}

#our-values .box {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

#our-values .box li {
    background-color: rgb(219, 219, 219);
    width: 20%;
    padding: 10px 20px;   
    border: solid gray 2px;
    border-radius: 3px; 
    text-align: left; 
    padding-right: 30px;
}

#our-values h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin: 0;
}

#our-values p {
    color: gray;
}

#our-values .letter {
    background-color: black;
    text-align: center;
    width: 30px;
    height: 25px;
    border: solid black 5px;
    border-radius: 2px;
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif
}

#quality .letter {
    color: orange;
}
#sustainability .letter {
    color: rgb(74, 74, 234);
}
#innovation .letter {
    color: white;
}


#team {
    background-color: cadetblue;
    border: solid white 1.5px;
    border-bottom: solid gray 1.5px;
    border-top: solid gray 1.5px;
    padding: 15px 40px;
}

#team h3 {
    margin-bottom: 0;
}

#our-journey ul {
    padding-left: 300px;
    list-style-type: none;
}

#our-journey li h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    margin-bottom: 0;
}


#our-journey li p {
    margin-top: 10px;
}
